namex==0.1.0
nvidia-cufile-cu12==1.13.1.3
absl-py==2.3.1
antlr4-python3-runtime==4.9.3
imageio-ffmpeg==0.6.0
jupyter-console==6.6.3
Werkzeug==3.1.5
annotated-types==0.7.0
ipywidgets==8.1.8
argon2-cffi==25.1.0
typing_extensions==4.15.0
meshcat==0.3.2
matplotlib==3.10.8
packaging==25.0
tinycss2==1.4.0
jupyter==1.1.1
einops==0.8.1
click==8.3.1
nvidia-cudnn-cu11==9.1.0.70
pyngrok==7.5.0
jsonpointer==3.0.0
xformers==0.0.33
setuptools==80.9.0
pandas==1.4.1
rpds-py==0.30.0
jupyter_server==2.17.0
certifi==2026.1.4
Send2Trash==2.1.0
sympy==1.14.0
urllib3==2.6.3
anyio==4.12.1
yarr==0.1
point_renderer==0.2.0
fsspec==2025.12.0
torchaudio==2.7.1+cu118
nvidia-nvshmem-cu12==3.3.20
jupyter-events==0.12.0
nvidia-curand-cu11==10.3.0.86
jsonschema-specifications==2025.9.1
nvidia-cuda-runtime-cu12==12.8.90
optree==0.18.0
tensorboard==2.20.0
nvidia-cusparse-cu12==12.5.8.93
decorator==5.2.1
protobuf==6.33.4
jedi==0.19.2
tornado==6.5.4
terminado==0.18.1
arrow==1.4.0
huggingface-hub==0.36.0
gast==0.7.0
webencodings==0.5.1
safetensors==0.7.0
nvidia-cusparse-cu11==11.7.5.86
regex==2026.1.15
bitsandbytes==0.49.1
ipython==8.38.0
ImageIO==2.37.2
nbformat==5.10.4
fqdn==1.5.1
async-lru==2.0.5
tzdata==2025.3
nvidia-cublas-cu11==11.11.3.6
proglog==0.1.12
rfc3339-validator==0.1.4
python-dateutil==2.9.0.post0
ml_dtypes==0.5.4
freetype-py==2.5.1
ipykernel==7.1.0
httpx==0.28.1
comm==0.2.3
termcolor==3.3.0
numpy==2.2.6
nvidia-nvjitlink-cu12==12.8.93
iopath==0.1.10
portalocker==3.2.0
nvidia-cuda-nvrtc-cu12==12.8.93
Pygments==2.19.2
nvidia-nvtx-cu11==11.8.86
libclang==18.1.1
referencing==0.37.0
grpcio==1.76.0
pydantic==2.12.5
jsonschema==4.26.0
matplotlib-inline==0.2.1
overrides==7.7.0
executing==2.2.1
keras==3.12.0
jupyter-lsp==2.3.0
tensorboard-data-server==0.7.2
tokenizers==0.22.2
notebook==7.5.2
torch==2.9.1
debugpy==1.8.19
json5==0.13.0
python-json-logger==4.0.0
nvidia-cuda-runtime-cu11==11.8.89
Jinja2==3.1.6
widgetsnbextension==4.0.15
soupsieve==2.8.1
rlbench==1.2.0
opencv-python==4.12.0.88
traitlets==5.14.3
pillow==11.3.0
pytorch3d==0.7.8
pydantic_core==2.41.5
pycparser==2.23
jupyterlab==4.5.2
ptyprocess==0.7.0
nvidia-cuda-cupti-cu11==11.8.87
wheel==0.45.1
sam2act==0.0.1
jupyter_client==8.8.0
yacs==0.1.8
moviepy==2.2.1
nvidia-cusolver-cu11==11.4.1.48
pytz==2025.2
torchvision==0.24.0+cu128
ftfy==6.3.1
clip==1.0
fonttools==4.61.1
h5py==3.15.1
u-msgpack-python==2.8.0
jupyterlab_server==2.28.0
exceptiongroup==1.3.1
uri-template==1.3.0
python-dotenv==1.2.1
lark==1.3.1
bleach==6.3.0
pyzmq==27.1.0
six==1.17.0
jupyter_server_terminals==0.5.4
mpmath==1.3.0
nvidia-nccl-cu11==2.21.5
nvidia-cudnn-cu12==9.10.2.21
natsort==8.4.0
nvidia-cufft-cu11==10.9.0.58
mistune==3.2.0
rfc3987-syntax==1.1.0
peract_colab==0.0.0
timeout-decorator==0.5.0
nbclient==0.10.4
gitdb==4.0.12
sentry-sdk==2.49.0
h11==0.16.0
webcolors==25.10.0
nbconvert==7.16.6
notebook_shim==0.2.4
GitPython==3.1.46
stack-data==0.6.3
attrs==25.4.0
requests==2.32.5
defusedxml==0.7.1
jupyterlab_widgets==3.0.16
wrapt==2.0.1
hydra-core==1.3.2
scipy==1.15.3
smmap==5.0.2
tqdm==4.67.1
nvidia-cusolver-cu12==11.7.3.90
trimesh==4.11.0
google-pasta==0.2.0
astunparse==1.6.3
opt_einsum==3.4.0
nvidia-cufft-cu12==11.3.3.83
parso==0.8.5
argon2-cffi-bindings==25.1.0
kiwisolver==1.4.9
beautifulsoup4==4.14.3
nvidia-nvtx-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.8.89
tomli==2.4.0
cffi==2.0.0
mdurl==0.1.2
nvidia-nccl-cu12==2.27.5
pyparsing==3.3.1
nest-asyncio==1.6.0
jupyterlab_pygments==0.3.0
wandb==0.24.0
Markdown==3.10
MarkupSafe==2.1.5
httpcore==1.0.9
transforms3d==0.4.2
nvidia-cublas-cu12==12.8.4.1
contourpy==1.3.2
networkx==3.4.2
rfc3986-validator==0.1.1
PyYAML==6.0.3
hf-xet==1.2.0
nvidia-cuda-cupti-cu12==12.8.90
transformers==4.57.5
markdown-it-py==4.0.0
PyRep==4.1.0.3
omegaconf==2.3.0
tensorflow==2.20.0
pandocfilters==1.5.1
nvidia-cusparselt-cu12==0.7.1
prompt_toolkit==3.0.52
prometheus_client==0.24.1
psutil==7.2.1
pyglet==2.1.12
filelock==3.20.0
idna==3.11
jupyter_core==5.9.1
cycler==0.12.1
websocket-client==1.9.0
wcwidth==0.2.14
charset-normalizer==3.4.4
pure_eval==0.2.3
PyOpenGL==3.1.0
nvidia-curand-cu12==10.3.9.90
asttokens==3.0.1
pyquaternion==0.9.9
pip==23.0
typing-inspection==0.4.2
pyrender==0.1.45
babel==2.17.0
isoduration==20.11.0
pexpect==4.9.0
platformdirs==4.5.1
flatbuffers==25.12.19
rich==14.2.0
triton==3.5.1
fastjsonschema==2.21.2
